<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SOPMan</title>

    <environment include="Development">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
    </environment>
        
</head>
<body>
    <div class="container-fluid top-nav">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 top-nav-left">
                    <div class="client-logo">
                        @Html.Partial("~/Views/Manage/companyLogo.cshtml")
                     </div>
                    <div class="site-name"><h3>My SOP Manager</h3></div>
                </div>
                <div class="col-12 col-md-6 text-right">
                    @using (Html.BeginForm("Search", "Account", FormMethod.Get))
                    {
                        <div class="row">
                            <div class="col-12 col-md-5"></div>
                            <div class="col-12 col-md-6 search-box">
                                @Html.TextBox("SearchString")
                            </div>
                            <div class="col-12 col-md-1 search-col">
                                <i class="material-icons search-icon">search</i>         
                                <input type="submit" class="search-btn" value="Search" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>     
    </div>
       
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <div class="row">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="dash-header"><h2>@ViewData["Title"]</h2></div>
            </div>
        </div>   
    </nav>
    <div class="collapse side-menu" id="navbarsExampleDefault">
        <div class="shaded-bg"></div>
        <div class="bg-inverse p-4 the-main-nav">
            @await Html.PartialAsync("_LoginPartial")
            <div class="close-btn">
                <a href="#" class="close-menu"><i class="material-icons">close</i></a>
            </div>
            <ul class="navbar-nav mr-auto">
                 <li class="menu-welcome">Menu</li> 
                <hr class="white-line">
                <li class="nav-item">
                    <a asp-controller="Manage" asp-action="Index">My Dashboard</a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Manage" asp-action="SOPTemplates">SOP List</a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Manage" asp-action="SOPInstances">SOP Instances</a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Manage" asp-action="Projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Manage" asp-action="Tasks">Tasks</a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Manage" asp-action="People">People</a>
                </li>
                <hr class="white-line">
                <li class="nav-item">
                    <a asp-area="" asp-controller="Manage" asp-action="Settings">Settings</a>
                </li>
                <li class="nav-item">
                    <a target="_blank" href="https://sopman.blob.core.windows.net/usermanual/SOPman%20User%20Manual.pdf"><img class="small-icon" src="~/images/pdf.png"> User Manual</a>
                </li>    
            </ul>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="http://cdn.syncfusion.com/15.1.0.41/js/web/ej.web.all.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.unobtrusive.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>         
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
            <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="http://cdn.syncfusion.com/15.1.0.41/js/web/ej.web.all.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.unobtrusive.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>        
    </environment>

        
        <script>
        </script>

        <!-- jsPDF for creating PDFs -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js" integrity="sha384-CchuzHs077vGtfhGYl9Qtc7Vx64rXBXdIAZIPbItbNyWIRTdG0oYAqki3Ry13Yzu" crossorigin="anonymous"></script>
        <script>
            var doc = new jsPDF();
            doc.setProperties({
                title: 'Title',
                subject: 'This is the subject',
                author: 'James Hall',
                keywords: 'generated, javascript, web 2.0, ajax',
                creator: 'MEEE'
            });
            var body = document.getElementsByTagName("BODY")[0];
            doc.fromHTML(body,15,15,
            {
                'width': 170
            });
            // doc.save('Test.pdf');
        </script>

        

        @RenderSection("Scripts", required: false)
</body>
</html>
