@model IEnumerable<sopman.Models.ManageViewModels.SOPOverView> 
@using HtmlHelpers.BeginCollectionItemCore
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Edit SOP";
    int sectioncount = 0;
    int subsectioncount = 0;
    int tasks = 0; // A second section counter to reset the count for the 'Tasks' tab
    int documentsProcesses = 1;
}
<div class="container body-content">
@using (Html.BeginForm()) {
    <div class="container sop-builder">
        <div class="row header-dark-grey">
            <div class="col-12 col-md-10">
                <h1>@ViewBag.gettempname</h1>
            </div>
            <div class="col-12 col-md-2 text-right">
                    <input type="submit" class="btn" value="Save" />
            </div>
            <hr class="invisible-divider"/>
            <div class="col-12">
                <ul class="nav nav-temp nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#overview" role="tab">SOP Overview</a>
                    </li>
                    <li class="nav-item ml-2">
                        <a class="nav-link" data-toggle="tab" href="#docs" role="tab">Version History</a>
                    </li> 
                </ul>
            </div>
        </div>
        <div class="row white-row">
            <div class="col-12">
                <div class="tab-content">
                    <div class="tab-pane active" id="overview" role="tabpanel">
                        @foreach(var subitem in (ViewBag.thesecs)){

                            sectioncount++;
                            tasks++;
                        
                            <div class="row section-count">
                                <div class="col-12 col-md-1 header-left">
                                    <div class="number"><h3 class="h5">@sectioncount</h3></div>
                                </div>
                                <div class="col-12 col-md-11 header-right">
                                    <h2>@subitem.SectionText</h2>
                                </div>
                                <div class="col-12 the-secs">
                                   @foreach(var item in (ViewBag.thesin)){
                                        if(item.valuematch == subitem.valuematch){
                                            if(item.NewTempId == @ViewBag.gettopid){
                                                <input type="hidden" name="hiiden-line-@item.SubSecId" value="@item.SubSecId">
                                                <input class="form-control my-2" type="text" value="@item.SingleLinkTextBlock" name="line-@item.SubSecId">
                                            }
                                        }
                                    }
                                    @foreach(var item in (ViewBag.gettabs)){
                                        if(item.valuematch == subitem.valuematch){
                                            if(item.NewTempId == @ViewBag.gettopid){
                                                <h3>@item.TableHTML</h3>
                                                <div class="col-12">
                                                    <div class="table sop-table">
                                                        <div class="col-count">
                                                        @foreach(var col in (ViewBag.gettabscols)){
                                                            if((col.tableval == subitem.valuematch) && (col.NewTempId == ViewBag.gettopid)){
                                                                <div class="inner-cols">
                                                                    <h3>@col.ColText</h3>
                                                                </div>
                                                            }
                                                        }
                                                        </div>
                                                        <div class="row-count">
                                                        @foreach(var col in (ViewBag.gettabsrows)){
                                                            if((col.tableval == subitem.valuematch) && (col.NewTempId == ViewBag.gettopid)){
                                                                <div class="inner-rows">
                                                                    <h3>@col.RowText</h3>
                                                                </div>
                                                            }
                                                        }
                                                        </div>
                                                    </div>
                                                </div>
                                             }
                                        }
                                    }
                                    @foreach(var item in (ViewBag.getmul)){
                                        if(item.valuematch == subitem.valuematch){
                                           if(item.NewTempId == @ViewBag.gettopid){
                                                <input type="hidden" name="hiiden-mult-@item.SubSecId" value="@item.SubSecId">
                                                <textarea class="form-control my-2" name="text-@item.SubSecId">@item.MultilineTextBlock</textarea>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        }
                     </div>
                    <div class="tab-pane" id="docs" role="tabpanel">
                            <div class="col-12">
                                @foreach(var item in (@ViewBag.gethistory)){

                                    <!--  Name of sop section. -->
                                    foreach(var subitem in (ViewBag.thesecs)){
                                        if(subitem.valuematch == item.ValuematchEdited){

                                            <div class="card">
                                                <div class="card-header">New Edit</div>
                                                <div class="card-body">
                                                    <h5 class="card-title">@subitem.SectionText edited</h5>

                                                    <h6 class="card-subtitle mb-2 text-muted">Edited by
                                                        <!--  Name of user who edited.. -->
                                                            @foreach(var name in (ViewBag.resiuser)){
                                                                if(name.UserId == item.UserId){
                                                                    <span>@name.FirstName&nbsp;@name.SecondName</span>
                                                                }
                                                            }
                                                    on @item.EditDate.ToString("dd/MM/yyyy")</h6>
                                                    <p class="card-text">@item.TextEdited</p>
                                                </div>
                                            </div>

                            
                                        }
                                    }











                            
                                }
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
}
</div>
<script>
    $(document).ready(function () {
        var url = '@Url.Action("TheSOP")';
        var form = $('form');
        var recipients = $('#overview');    
        $.get(url, function(response) {
            recipients.append(response);
            form.data('validator', null);
            $.validator.unobtrusive.parse(form);
        });
    });
    $(document).ready(function () {
        var divname = "cols-";
        var count = $(".table .inner-cols").length;
        var content = divname+count;
        $(".inner-cols").addClass(content);
        $(".inner-rows").addClass(content);
    });
    var div = 0;
    /* NOT QUITE AS OLD
    $(document).ready(function () {
        var i = 0;
        $(".section-count").each(function() {
            var j = 1;
            if($(this).hasClass("SubProcess")){
                $(this).find(".number").find("h3").text(i + "." + j);
                j++;
            }
            else {
    i++;
                $(this).find(".number").find("h3").text(i);

            }
        });
    });
    */
    /* OLD
    $(document).ready(function () {
        $(".number").each(function(i) {
            $(this).find("h3").text(++i);
        });
    });
    */

    $(document).ready(function() {
       var $arr = $("a[data-toggle='collapse']");
        $arr.each(function(){
             $(this).click(function(){
                if($(this).hasClass('collapsed')){
                    $(this).html('HIDE DETAIL');
                    $arr.not(this).each(function(){
                        $(this).html('SHOW DETAIL');
                    });
                }
                else{
                    $(this).html('SHOW DETAIL');
                }
            });
        });
    
    });

    
</script>



