@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "SOP Instances";
}
<div class="container people-div">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-8">
                    <h2>@ViewData["Title"]</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table id="sop-table" class="table list-table">
                        <thead>
                            <tr>
                                <th>SOP Name</th>
                            <th>SOP Instance</th>
                            <th>Project</th>
                            <th>Expire Date</th>
                            <th>Progress</th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach(var item in (@ViewBag.newtemps)){
                            foreach(var sub in (@ViewBag.getexe)){
                                foreach(var ist in (@ViewBag.getinst)){
                                    if(ist.SOPTemplateID == item.SOPTemplateID){
                                        if(sub.SectionId == ist.InstanceId){
                                            <tr>
                                                <th><a href="/Manage/SOPs?=@sub.ExecuteSopID">@item.TempName</a></th>
                                                <th>@ist.InstanceRef - @item.SOPCode</th>
                                                @foreach(var proj in (ViewBag.theprojects)){
                                                    if(ist.ProjectId == proj.ProjectId){
                                                         <th>@proj.ProjectName</th>
                                                    }
                                                }
                                                <th>@ist.InstanceExpire</th>
                                                <th><p>progress</p></th>
                                            </tr>
                                        }
                                    }
                                }
                            }
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#sop-table').DataTable( {
            "order": [[ 0, "desc" ]],
            "paging": false,
            "info": false,
            "columnDefs": [
                { "orderable": false, "targets": 4 }
            ]
        });
     });
</script>

