@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "SOP Instances";
}
<div class="container sop-instances-content">
    <div class="row header-dark-grey">
        <div class="dropdown">
  <button class="btn btn-secondary d-flex" type="button" id="executed" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Executed by me<i class="material-icons ml-5">menu</i>
  </button>
  <div class="dropdown-menu" aria-labelledby="executed">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
        <div class="dropdown ml-3">
  <button class="btn btn-secondary d-flex" type="button" id="active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Active<i class="material-icons ml-5">menu</i>
  </button>
  <div class="dropdown-menu" aria-labelledby="active">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <table id="sop-table" class="table list-table">
                        <thead>
                            <tr>
                                <th>SOP Name</th>
                            <th>SOP Instance</th>
                            <th>Project</th>
                            <th>Expire Date</th>
                            <th>Progress</th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach(var item in (@ViewBag.newtemps)){
                            foreach(var sub in (@ViewBag.getexe)){
                                foreach(var ist in (@ViewBag.getinst)){
                                    if(ist.SOPTemplateID == item.SOPTemplateID){
                                        if(sub.SectionId == ist.InstanceId){
                                            <tr>
                                                <th><a href="/Manage/SOPs?=@sub.ExecuteSopID">@item.TempName</a></th>
                                                <th>@ist.InstanceRef - @item.SOPCode</th>
                                                @foreach(var proj in (ViewBag.theprojects)){
                                                    if(ist.ProjectId == proj.ProjectId){
                                                         <th>@proj.ProjectName</th>
                                                    }
                                                }
                                                <th>@ist.InstanceExpire</th>
                                                <th><p>progress</p></th>
                                            </tr>
                                        }
                                    }
                                }
                            }
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#sop-table').DataTable( {
            "order": [[ 0, "desc" ]],
            "paging": false,
            "info": false,
            "columnDefs": [
                { "orderable": false, "targets": 4 }
            ]
        });
     });
</script>

