@model IEnumerable<sopman.Models.ManageViewModels.SOPOverView> 
@using HtmlHelpers.BeginCollectionItemCore
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "The SOP";
    int sectioncount = 0;
    int subsectioncount = 0;
    int tasks = 0; // A second section counter to reset the count for the 'Tasks' tab
}
<div class="container body-content">
@using (Html.BeginForm()) {
    <div class="container sop-builder">
        <div class="row header-dark-grey">
            <div class="col-12 col-md-8">
                <p>@ViewBag.instref <span class="faded">Executed by: </span>@foreach(var name in (ViewBag.userinfo)){<span>@name.FirstName </span> <span> @name.SecondName</span> }</p>
            </div>
            <div class="col-12 col-md-4 text-right">
                <p>Expiry Date: @ViewBag.expire</p>
            </div>
            <hr class="white-divider"/>
            <div class="col-12 col-md-10">
                <h1>@ViewBag.temp </h1>
                <p class="theproject">Project: <a href="">@ViewBag.proj</a></p>
            </div>
            <div class="col-12 col-md-2 text-right">
                    <input type="submit" class="btn" value="Save" />
            </div>
            <hr class="invisible-divider"/>
            <div class="col-12">
                <ul class="nav nav-temp nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#overview" role="tab">SOP Overview</a>
                    </li>
                    <li class="nav-item ml-2">
                        <a class="nav-link" data-toggle="tab" href="#process" role="tab">Process Steps</a>
                    </li>
                    <li class="nav-item ml-2">
                        <a class="nav-link" data-toggle="tab" href="#history" role="tab">My Tasks</a>
                    </li>
                    <li class="nav-item ml-2">
                        <a class="nav-link" data-toggle="tab" href="#docs" role="tab">Documents</a>
                    </li> 
                </ul>
            </div>
        </div>
        <div class="row white-row">
            <div class="col-12">
                <div class="tab-content">
                    <div class="tab-pane active" id="overview" role="tabpanel">
                        @foreach(var subitem in (ViewBag.thesecs)){

                            sectioncount++;
                            tasks++;
                        
                            <div class="row section-count">
                                <div class="col-12 col-md-1 header-left">
                                    <div class="number"><h3>@sectioncount</h3></div>
                                </div>
                                <div class="col-12 col-md-11 header-right">
                                    <h2>@subitem.SectionText</h2>
                                </div>
                                <div class="col-12 the-secs">
                                   @foreach(var item in (ViewBag.thesin)){
                                        if(item.valuematch == subitem.valuematch){
                                            if(item.NewTempId == @ViewBag.gettopid){
                                                <h3>@item.SingleLinkTextBlock</h3>
                                            }
                                        }
                                    }
                                    @foreach(var item in (ViewBag.gettabs)){
                                        if(item.valuematch == subitem.valuematch){
                                            if(item.NewTempId == @ViewBag.gettopid){
                                                <h3>@item.TableHTML</h3>
                                                <div class="col-12">
                                                    <div class="table sop-table">
                                                        <div class="col-count">
                                                        @foreach(var col in (ViewBag.gettabscols)){
                                                            if((col.tableval == subitem.valuematch) && (col.NewTempId == ViewBag.gettopid)){
                                                                <div class="inner-cols">
                                                                    <h3>@col.ColText</h3>
                                                                </div>
                                                            }
                                                        }
                                                        </div>
                                                        <div class="row-count">
                                                        @foreach(var col in (ViewBag.gettabsrows)){
                                                            if((col.tableval == subitem.valuematch) && (col.NewTempId == ViewBag.gettopid)){
                                                                <div class="inner-rows">
                                                                    <h3>@col.RowText</h3>
                                                                </div>
                                                            }
                                                        }
                                                        </div>
                                                    </div>
                                                </div>
                                             }
                                        }
                                    }
                                    @foreach(var item in (ViewBag.getmul)){
                                        if(item.valuematch == subitem.valuematch){
                                           if(item.NewTempId == @ViewBag.gettopid){
                                                <p>@item.MultilineTextBlock</p>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        }
                     </div>
                     <div class="tab-pane" id="process" role="tabpanel">
                        <div id="accordion" role="tablist">
                            @foreach(var item in (ViewBag.processtmps)){
                                var nameshort = item.ProcessName.Replace(" ", "");
                                var protype = item.ProcessType;
                                var value = item.valuematch;
                                string number;
                                if(protype == "SubProcess")
                                {
                                    number = sectioncount.ToString() + "." + subsectioncount.ToString();
                                    subsectioncount++;
                                    
                                }
                                else
                                {
                                    sectioncount++;
                                    number = sectioncount.ToString();
                                    subsectioncount = 1;
                                }
                            
                                <div class="card section-count container @protype process-@value">
                                    <div class="card-header row" role="tab" id="headingOne">
                                        <div class="col-12 col-md-1 count-col">
                                            <div class="number"><h3>@number</h3></div>
                                        </div>
                                        <div class="col-12 col-md-11 padding-left-zero">
                                            <div class="row header-row">
                                                <div class="col-12 col-md-10">
                                                     <h3>@item.ProcessName</h3>
                                                </div>
                                                <div class="col-12 col-md-2 text-right">
                                                    <a data-toggle="collapse" class="collapsed" href="#collapse-@nameshort" role="button" aria-expanded="false" aria-controls="collapseOne">
                                                        SHOW DETAIL
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="collapse-@nameshort" class="container collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="card-body sops-raci-info row">
                                            <div class="col-12 col-md-12">
                                                <p>@item.ProcessDesc</p>
                                            </div>
                                            <div class="col-12 col-md-12">
                                                <div class="row">
                                                    <div class="col-12 raci-info">
                                                        <h4>Responsible</h4>
                                                    </div>
                                                    @foreach(var sub in (ViewBag.res)){
                                                        if(sub.valuematch == item.valuematch){
                                                            <div class="col-12 col-md-12 no-pad grey-bg">
                                                                <div class="row">
                                                                <!-- Getting the first and second name from users -->
                                                                @foreach(var name in (ViewBag.allusers)){
                                                                    if(sub.UserId == name.ClaimId){
                                                                        var namenospace = "resp" + name.FirstName + name.SecondName + sub.RACIResChosenID + item.valuematch;
                                                                        <div class="col-12 col-md-1 sop-number sop-number-@item.valuematch">
                                                                            <h3></h3>
                                                                        </div>
                                                                        <div class="col-12 col-md-3 @sub.Status sop-status">
                                                                            <input type="hidden" value="@item.valuematch">
                                                                            <input type="text" class="hidden-value raci-number-@namenospace" value="@sub.Status" name="sop-number-@namenospace">
                                                                            <h5>@sub.Status</h5>
                                                                        </div>
                                                                        <div class="col-12 col-md-6 sop-person">
                                                                            <h4>@name.FirstName @name.SecondName</h4>
                                                                            <!-- Getting the department -->    
                                                                            @foreach(var dep in (ViewBag.deps)){
                                                                                if(sub.DepartmentId == dep.DepartmentId){
                                                                                    <p>@dep.DepartmentName</p>
                                                                                }
                                                                            }
                                                                        </div>
                                                                        <div class="col-12 col-md-2 sop-buttons">
                                                                            <div class="dropdown h-100">
                                                                              <button class="btn btn-secondary h-100 w-100" type="button" id="@namenospace" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                <i class="material-icons">menu</i>
                                                                              </button>
                                                                              <div class="dropdown-menu" aria-labelledby="@namenospace">
                                                                                <div class="complete comp-@namenospace">
                                                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#comp-@namenospace">
                                                                                     Complete Task
                                                                                    </button>
                                                                                </div>
                                                                                <div class="recusal rec-@namenospace"><p>Request recusal</p></div>
                                                                              </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal fade" id="comp-@namenospace" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                            <div class="modal-dialog" role="document">
                                                                                <div class="modal-content">
                                                                                  <div class="modal-header">
                                                                                    <h5 class="modal-title">Complete this task</h5>
                                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                      <span aria-hidden="true">&times;</span>
                                                                                    </button>
                                                                                  </div>
                                                                                  <div class="modal-body">
                                                                                    <p>Add signature</p>
                                                                                    <input type="text" name="signature-@namenospace" placeholder="please type your name" class="signature">
                                                                                  </div>
                                                                                  <div class="modal-footer">
                                                                                    <input type="submit" class="btn" value="Complete Task" />
                                                                                  </div>
                                                                                </div>
                                                                              </div>
                                                                        </div>
                                                                        <div class="modal fade" id="rec-@namenospace" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                            <div class="modal-dialog" role="document">
                                                                                <div class="modal-content">
                                                                                  <div class="modal-header">
                                                                                    <h5 class="modal-title">Request Recusal</h5>
                                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                      <span aria-hidden="true">&times;</span>
                                                                                    </button>
                                                                                  </div>
                                                                                  <div class="modal-body">
                                                                                    <p>Add signature</p>
                                                                                    <input type="text" name="recuse-@namenospace" placeholder="please type your name" class="signature">
                                                                                  </div>
                                                                                  <div class="modal-footer">
                                                                                    <input type="submit" class="btn" value="Request Recusal" />
                                                                                  </div>
                                                                                </div>
                                                                              </div>
                                                                        </div>
                                                                    }
                                                                 }
                                                                 </div>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12">
                                                <div class="row">
                                                    <div class="col-12 raci-info">
                                                        <h4>Accountable</h4>
                                                    </div>
                                                    @foreach(var sub in (ViewBag.acc)){
                                                        if(sub.valuematch == item.valuematch){
                                                            <div class="col-12 col-md-12 no-pad grey-bg">
                                                                <div class="row">
                                                                <!-- Getting the first and second name from users -->
                                                                @foreach(var name in (ViewBag.allusers)){
                                                                    if(sub.UserId == name.ClaimId){
                                                                        var namenospace = "resp" + name.FirstName + name.SecondName + sub.RACIAccChosenID + item.valuematch;
                                                                        <div class="col-12 col-md-1 sop-number sop-number-@item.valuematch">
                                                                            <h3></h3>
                                                                        </div>
                                                                        <div class="col-12 col-md-3 @sub.Status sop-status">
                                                                            <input type="hidden" value="@item.valuematch">
                                                                            <input type="text" class="hidden-value raci-number-@namenospace" value="@sub.Status" name="sop-number-@namenospace">
                                                                            <h5>@sub.Status</h5>
                                                                        </div>
                                                                        <div class="col-12 col-md-6 sop-person">
                                                                            <h4>@name.FirstName @name.SecondName</h4>
                                                                            <!-- Getting the department -->    
                                                                            @foreach(var dep in (ViewBag.deps)){
                                                                                if(sub.DepartmentId == dep.DepartmentId){
                                                                                    <p>@dep.DepartmentName</p>
                                                                                }
                                                                            }
                                                                        </div>
                                                                        <div class="col-12 col-md-2 sop-buttons">
                                                                            <div class="dropdown h-100">
                                                                              <button class="btn btn-secondary h-100 w-100" type="button" id="@namenospace" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                <i class="material-icons">menu</i>
                                                                              </button>
                                                                              <div class="dropdown-menu" aria-labelledby="@namenospace">
                                                                                <div class="complete comp-@namenospace">
                                                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#comp-@namenospace">
                                                                                     Complete Task
                                                                                    </button>
                                                                                </div>
                                                                                <div class="recusal rec-@namenospace">
                                                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#rec-@namenospace">
                                                                                     Request recusal
                                                                                    </button>
                                                                                </div>
                                                                              </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal fade" id="comp-@namenospace" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                            <div class="modal-dialog" role="document">
                                                                                <div class="modal-content">
                                                                                  <div class="modal-header">
                                                                                    <h5 class="modal-title">Complete this task</h5>
                                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                      <span aria-hidden="true">&times;</span>
                                                                                    </button>
                                                                                  </div>
                                                                                  <div class="modal-body">
                                                                                    <p>Add signature</p>
                                                                                    <input type="text" name="signature-@namenospace" placeholder="please type your name" class="signature">
                                                                                  </div>
                                                                                  <div class="modal-footer">
                                                                                    <input type="submit" class="btn" value="Complete Task" />
                                                                                  </div>
                                                                                </div>
                                                                              </div>
                                                                        </div>
                                                                        <div class="modal fade" id="rec-@namenospace" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                            <div class="modal-dialog" role="document">
                                                                                <div class="modal-content">
                                                                                  <div class="modal-header">
                                                                                    <h5 class="modal-title">Request Recusal</h5>
                                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                      <span aria-hidden="true">&times;</span>
                                                                                    </button>
                                                                                  </div>
                                                                                  <div class="modal-body">
                                                                                    <p>Add signature</p>
                                                                                    <input type="text" name="recuse-@namenospace" placeholder="please type your name" class="signature">
                                                                                  </div>
                                                                                  <div class="modal-footer">
                                                                                    <input type="submit" class="btn" value="Request Recusal" />
                                                                                  </div>
                                                                                </div>
                                                                              </div>
                                                                        </div>
                                                                    }
                                                                 }
                                                                 </div>
                                                            </div>
                                                        }
                                                    }

                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12">
                                                <div class="row">
                                                    <div class="col-12 raci-info">
                                                        <h4>Consulted</h4>
                                                    </div>
                                                    @foreach(var sub in (ViewBag.cons)){
                                                        if(sub.valuematch == item.valuematch){
                                                            <div class="col-12 col-md-12 no-pad grey-bg">
                                                                <div class="row">
                                                                <!-- Getting the first and second name from users -->
                                                                @foreach(var name in (ViewBag.allusers)){
                                                                    if(sub.UserId == name.ClaimId){
                                                                        var namenospace = "resp" + name.FirstName + name.SecondName + sub.RACIConChosenID + item.valuematch;
                                                                        <div class="col-12 col-md-1 sop-number sop-number-@item.valuematch">
                                                                            <h3></h3>
                                                                        </div>
                                                                        <div class="col-12 col-md-3 @sub.Status sop-status">
                                                                            <input type="hidden" value="@item.valuematch">
                                                                            <input type="text" class="hidden-value raci-number-@namenospace" value="@sub.Status" name="sop-number-@namenospace">
                                                                            <h5>@sub.Status</h5>
                                                                        </div>
                                                                        <div class="col-12 col-md-6 sop-person">
                                                                            <h4>@name.FirstName @name.SecondName</h4>
                                                                            <!-- Getting the department -->    
                                                                            @foreach(var dep in (ViewBag.deps)){
                                                                                if(sub.DepartmentId == dep.DepartmentId){
                                                                                    <p>@dep.DepartmentName</p>
                                                                                }
                                                                            }
                                                                        </div>
                                                                        <div class="col-12 col-md-2 sop-buttons">
                                                                            <div class="dropdown h-100">
                                                                              <button class="btn btn-secondary h-100 w-100" type="button" id="@namenospace" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                <i class="material-icons">menu</i>
                                                                              </button>
                                                                              <div class="dropdown-menu" aria-labelledby="@namenospace">
                                                                                <div class="complete comp-@namenospace">
                                                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#comp-@namenospace">
                                                                                     Complete Task
                                                                                    </button>
                                                                                </div>
                                                                               <div class="recusal rec-@namenospace">
                                                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#rec-@namenospace">
                                                                                     Request recusal
                                                                                    </button>
                                                                                </div>
                                                                              </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal fade" id="comp-@namenospace" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                            <div class="modal-dialog" role="document">
                                                                                <div class="modal-content">
                                                                                  <div class="modal-header">
                                                                                    <h5 class="modal-title">Complete this task</h5>
                                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                      <span aria-hidden="true">&times;</span>
                                                                                    </button>
                                                                                  </div>
                                                                                  <div class="modal-body">
                                                                                    <p>Add signature</p>
                                                                                    <input type="text" name="signature-@namenospace" placeholder="please type your name" class="signature">
                                                                                  </div>
                                                                                  <div class="modal-footer">
                                                                                    <input type="submit" class="btn" value="Complete Task" />
                                                                                  </div>
                                                                                </div>
                                                                              </div>
                                                                        </div>
                                                                        <div class="modal fade" id="rec-@namenospace" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                            <div class="modal-dialog" role="document">
                                                                                <div class="modal-content">
                                                                                  <div class="modal-header">
                                                                                    <h5 class="modal-title">Request Recusal</h5>
                                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                      <span aria-hidden="true">&times;</span>
                                                                                    </button>
                                                                                  </div>
                                                                                  <div class="modal-body">
                                                                                    <p>Add signature</p>
                                                                                    <input type="text" name="recuse-@namenospace" placeholder="please type your name" class="signature">
                                                                                  </div>
                                                                                  <div class="modal-footer">
                                                                                    <input type="submit" class="btn" value="Request Recusal" />
                                                                                  </div>
                                                                                </div>
                                                                              </div>
                                                                        </div>
                                                                    }
                                                                 }
                                                                 </div>
                                                            </div>
                                                        }
                                                    }
                                                
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12">
                                                <div class="row">
                                                    <div class="col-12 raci-info">
                                                        <h4>Informed</h4>
                                                    </div>
                                                    @foreach(var sub in (ViewBag.infi)){
                                                        if(sub.valuematch == item.valuematch){
                                                            <div class="col-12 col-md-12 no-pad grey-bg">
                                                                <div class="row">
                                                                <!-- Getting the first and second name from users -->
                                                                @foreach(var name in (ViewBag.allusers)){
                                                                    if(sub.UserId == name.ClaimId){
                                                                        var namenospace = "resp" + name.FirstName + name.SecondName + sub.RACIInfChosenID + item.valuematch;
                                                                        <div class="col-12 col-md-1 sop-number sop-number-@item.valuematch">
                                                                            <h3></h3>
                                                                        </div>
                                                                        <div class="col-12 col-md-3 @sub.Status sop-status">
                                                                            <input type="hidden" value="@item.valuematch">
                                                                            <input type="text" class="hidden-value raci-number-@namenospace" value="@sub.Status" name="sop-number-@namenospace">
                                                                            <h5>@sub.Status</h5>
                                                                        </div>
                                                                        <div class="col-12 col-md-6 sop-person">
                                                                            <h4>@name.FirstName @name.SecondName</h4>
                                                                            <!-- Getting the department -->    
                                                                            @foreach(var dep in (ViewBag.deps)){
                                                                                if(sub.DepartmentId == dep.DepartmentId){
                                                                                    <p>@dep.DepartmentName</p>
                                                                                }
                                                                            }
                                                                        </div>
                                                                        <div class="col-12 col-md-2 sop-buttons">
                                                                            <div class="dropdown h-100">
                                                                              <button class="btn btn-secondary h-100 w-100" type="button" id="@namenospace" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                <i class="material-icons">menu</i>
                                                                              </button>
                                                                              <div class="dropdown-menu" aria-labelledby="@namenospace">
                                                                                <div class="complete comp-@namenospace">
                                                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#comp-@namenospace">
                                                                                     Complete Task
                                                                                    </button>
                                                                                </div>
                                                                               <div class="recusal rec-@namenospace">
                                                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#rec-@namenospace">
                                                                                     Request recusal
                                                                                    </button>
                                                                                </div>
                                                                              </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal fade" id="comp-@namenospace" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                            <div class="modal-dialog" role="document">
                                                                                <div class="modal-content">
                                                                                  <div class="modal-header">
                                                                                    <h5 class="modal-title">Complete this task</h5>
                                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                      <span aria-hidden="true">&times;</span>
                                                                                    </button>
                                                                                  </div>
                                                                                  <div class="modal-body">
                                                                                    <p>Add signature</p>
                                                                                    <input type="text" name="signature-@namenospace" placeholder="please type your name" class="signature">
                                                                                  </div>
                                                                                  <div class="modal-footer">
                                                                                    <input type="submit" class="btn" value="Complete Task" />
                                                                                  </div>
                                                                                </div>
                                                                              </div>
                                                                        </div>
                                                                        <div class="modal fade" id="rec-@namenospace" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                            <div class="modal-dialog" role="document">
                                                                                <div class="modal-content">
                                                                                  <div class="modal-header">
                                                                                    <h5 class="modal-title">Request Recusal</h5>
                                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                      <span aria-hidden="true">&times;</span>
                                                                                    </button>
                                                                                  </div>
                                                                                  <div class="modal-body">
                                                                                    <p>Add signature</p>
                                                                                    <input type="text" name="recuse-@namenospace" placeholder="please type your name" class="signature">
                                                                                  </div>
                                                                                  <div class="modal-footer">
                                                                                    <input type="submit" class="btn" value="Request Recusal" />
                                                                                  </div>
                                                                                </div>
                                                                              </div>
                                                                        </div>
                                                                    }
                                                                 }
                                                                 </div>
                                                            </div>
                                                        }
                                                    }
                                                
                                                </div>
                                            </div>

                                        
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    @{
                        sectioncount = tasks;
                    }
                    <div class="tab-pane" id="history" role="tabpanel">
                        <div id="accordion-history" role="tablist">
                            @foreach(var item in (ViewBag.processtmps)){
                                var nameshort = item.ProcessName.Replace(" ", "");
                                var protype = item.ProcessType;
                                var value = item.valuematch;

                                string number;
                                if(protype == "SubProcess")
                                {
                                    number = sectioncount.ToString() + "." + subsectioncount.ToString();
                                    subsectioncount++;
                                    
                                }
                                else
                                {
                                    sectioncount++;
                                    number = sectioncount.ToString();
                                    subsectioncount = 1;
                                }
                                <div class="card sops-raci-info section-count container @protype process-@value">
                                    <div class="card-header row" role="tab" id="headingOne">
                                        <div class="col-12 col-md-1 count-col">
                                            <div class="number"><h3>@number</h3></div>
                                        </div>
                                        <div class="col-12 col-md-11 padding-left-zero">
                                            <div class="row header-row">
                                                <div class="col-12 col-md-10">
                                                     <h3>@item.ProcessName</h3>
                                                </div>
                                                <div class="col-12 col-md-2 text-right">
                                                    <a data-toggle="collapse" class="collapsed" href="#collapse-tab-@nameshort" role="button" aria-expanded="false" aria-controls="collapseOne">
                                                        SHOW DETAIL
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="collapse-tab-@nameshort" class="container collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion-history">
                                        <div class="card-body row">
                                            <div class="col-12 col-md-12">
                                                <p>@item.ProcessDesc</p>
                                            </div>
                                            <div class="col-12 col-md-12">
                                                <div class="row">
                                                    @foreach(var sub in (ViewBag.res)){
                                                        if(sub.valuematch == item.valuematch){
                                                                <!-- Getting the first and second name from users -->
                                                                foreach(var name in (ViewBag.allusers)){
                                                                    if(sub.UserId == name.ClaimId && sub.UserId == ViewBag.loggedin){
                                                                        var namenospace = "resp" + name.FirstName + name.SecondName + sub.RACIResChosenID + item.valuematch;
                                                                        <div class="col-12 col-md-12 no-pad grey-bg">
                                                                            <div class="row">
                                                                                <div class="col-12 col-md-1 sop-number sop-number-@item.valuematch">
                                                                                <h3></h3>
                                                                            </div>
                                                                            <div class="col-12 col-md-3 @sub.Status sop-status">
                                                                                <input type="hidden" value="@item.valuematch">
                                                                                <input type="text" class="hidden-value raci-number-@namenospace" value="@sub.Status" name="sop-number-@namenospace">
                                                                                <h5>@sub.Status</h5>
                                                                            </div>
                                                                            <div class="col-12 col-md-6 sop-person">
                                                                                <h4>@name.FirstName @name.SecondName</h4>
                                                                                <!-- Getting the department -->    
                                                                                @foreach(var dep in (ViewBag.deps)){
                                                                                    if(sub.DepartmentId == dep.DepartmentId){
                                                                                        <p>@dep.DepartmentName</p>
                                                                                    }
                                                                                }
                                                                            </div>
                                                                            <div class="col-12 col-md-2 sop-buttons">
                                                                                <div class="dropdown h-100">
                                                                                  <button class="btn btn-secondary h-100 w-100" type="button" id="@namenospace" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                    <i class="material-icons">menu</i>
                                                                                  </button>
                                                                                  <div class="dropdown-menu" aria-labelledby="@namenospace">
                                                                                    <div class="complete comp-@namenospace">
                                                                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#comp-@namenospace">
                                                                                         Complete Task
                                                                                        </button>
                                                                                    </div>
                                                                                    <div class="recusal rec-@namenospace"><p>Request recusal</p></div>
                                                                                  </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="modal fade" id="comp-@namenospace" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                                <div class="modal-dialog" role="document">
                                                                                    <div class="modal-content">
                                                                                      <div class="modal-header">
                                                                                        <h5 class="modal-title">Complete this task</h5>
                                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                          <span aria-hidden="true">&times;</span>
                                                                                        </button>
                                                                                      </div>
                                                                                      <div class="modal-body">
                                                                                        <p>Add signature</p>
                                                                                        <input type="text" name="signature-@namenospace" placeholder="please type your name" class="signature">
                                                                                      </div>
                                                                                      <div class="modal-footer">
                                                                                        <input type="submit" class="btn" value="Complete Task" />
                                                                                      </div>
                                                                                    </div>
                                                                                  </div>
                                                                            </div>
                                                                            <div class="modal fade" id="rec-@namenospace" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                                <div class="modal-dialog" role="document">
                                                                                    <div class="modal-content">
                                                                                      <div class="modal-header">
                                                                                        <h5 class="modal-title">Request Recusal</h5>
                                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                          <span aria-hidden="true">&times;</span>
                                                                                        </button>
                                                                                      </div>
                                                                                      <div class="modal-body">
                                                                                        <p>Add signature</p>
                                                                                        <input type="text" name="recuse-@namenospace" placeholder="please type your name" class="signature">
                                                                                      </div>
                                                                                      <div class="modal-footer">
                                                                                        <input type="submit" class="btn" value="Request Recusal" />
                                                                                      </div>
                                                                                    </div>
                                                                                  </div>
                                                                            </div>

                                                                        </div>
                                                                     </div>
                                                                    }
                                                                 }
                                                        }
                                                    }
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12">
                                                <div class="row">
                                                    <div class="col-12 raci-info">
                                                        <h4>Accountable</h4>
                                                    </div>
                                                    @foreach(var sub in (ViewBag.acc)){
                                                        if(sub.valuematch == item.valuematch){
                                                                <!-- Getting the first and second name from users -->
                                                                foreach(var name in (ViewBag.allusers)){
                                                                    if(sub.UserId == name.ClaimId && sub.UserId == ViewBag.loggedin){
                                                                        var namenospace = "resp" + name.FirstName + name.SecondName + sub.RACIAccChosenID + item.valuematch;
                                                                       <div class="col-12 col-md-12 no-pad grey-bg">
                                                                            <div class="row">
                                                                                <div class="col-12 col-md-1 sop-number sop-number-@item.valuematch">
                                                                                    <h3></h3>
                                                                            </div>
                                                                            <div class="col-12 col-md-3 @sub.Status sop-status">
                                                                                <input type="hidden" value="@item.valuematch">
                                                                                <input type="text" class="hidden-value raci-number-@namenospace" value="@sub.Status" name="sop-number-@namenospace">
                                                                                <h5>@sub.Status</h5>
                                                                            </div>
                                                                            <div class="col-12 col-md-6 sop-person">
                                                                                <h4>@name.FirstName @name.SecondName</h4>
                                                                                <!-- Getting the department -->    
                                                                                @foreach(var dep in (ViewBag.deps)){
                                                                                    if(sub.DepartmentId == dep.DepartmentId){
                                                                                        <p>@dep.DepartmentName</p>
                                                                                    }
                                                                                }
                                                                            </div>
                                                                            <div class="col-12 col-md-2 sop-buttons">
                                                                                <div class="dropdown h-100">
                                                                                  <button class="btn btn-secondary h-100 w-100" type="button" id="@namenospace" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                    <i class="material-icons">menu</i>
                                                                                  </button>
                                                                                  <div class="dropdown-menu" aria-labelledby="@namenospace">
                                                                                    <div class="complete comp-@namenospace">
                                                                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#comp-@namenospace">
                                                                                         Complete Task
                                                                                        </button>
                                                                                    </div>
                                                                                    <div class="recusal rec-@namenospace">
                                                                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#rec-@namenospace">
                                                                                         Request recusal
                                                                                        </button>
                                                                                    </div>
                                                                                  </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="modal fade" id="comp-@namenospace" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                                <div class="modal-dialog" role="document">
                                                                                    <div class="modal-content">
                                                                                      <div class="modal-header">
                                                                                        <h5 class="modal-title">Complete this task</h5>
                                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                          <span aria-hidden="true">&times;</span>
                                                                                        </button>
                                                                                      </div>
                                                                                      <div class="modal-body">
                                                                                        <p>Add signature</p>
                                                                                        <input type="text" name="signature-@namenospace" placeholder="please type your name" class="signature">
                                                                                      </div>
                                                                                      <div class="modal-footer">
                                                                                        <input type="submit" class="btn" value="Complete Task" />
                                                                                      </div>
                                                                                    </div>
                                                                                  </div>
                                                                            </div>
                                                                            <div class="modal fade" id="rec-@namenospace" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                                <div class="modal-dialog" role="document">
                                                                                    <div class="modal-content">
                                                                                      <div class="modal-header">
                                                                                        <h5 class="modal-title">Request Recusal</h5>
                                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                          <span aria-hidden="true">&times;</span>
                                                                                        </button>
                                                                                      </div>
                                                                                      <div class="modal-body">
                                                                                        <p>Add signature</p>
                                                                                        <input type="text" name="recuse-@namenospace" placeholder="please type your name" class="signature">
                                                                                      </div>
                                                                                      <div class="modal-footer">
                                                                                        <input type="submit" class="btn" value="Request Recusal" />
                                                                                      </div>
                                                                                    </div>
                                                                                  </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    }
                                                                 }
                                                        }
                                                    }

                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12">
                                                <div class="row">
                                                    <div class="col-12 raci-info">
                                                        <h4>Consulted</h4>
                                                    </div>
                                                    @foreach(var sub in (ViewBag.cons)){
                                                        if(sub.valuematch == item.valuematch){
                                                                <!-- Getting the first and second name from users -->
                                                                foreach(var name in (ViewBag.allusers)){
                                                                    if(sub.UserId == name.ClaimId && sub.UserId == ViewBag.loggedin){
                                                                        var namenospace = "resp" + name.FirstName + name.SecondName + sub.RACIConChosenID + item.valuematch;
                                                                        <div class="col-12 col-md-12 no-pad grey-bg">
                                                                         <div class="row">
                                                                        <div class="col-12 col-md-1 sop-number sop-number-@item.valuematch">
                                                                            <h3></h3>
                                                                        </div>
                                                                        <div class="col-12 col-md-3 @sub.Status sop-status">
                                                                            <input type="hidden" value="@item.valuematch">
                                                                            <input type="text" class="hidden-value raci-number-@namenospace" value="@sub.Status" name="sop-number-@namenospace">
                                                                            <h5>@sub.Status</h5>
                                                                        </div>
                                                                        <div class="col-12 col-md-6 sop-person">
                                                                            <h4>@name.FirstName @name.SecondName</h4>
                                                                            <!-- Getting the department -->    
                                                                            @foreach(var dep in (ViewBag.deps)){
                                                                                if(sub.DepartmentId == dep.DepartmentId){
                                                                                    <p>@dep.DepartmentName</p>
                                                                                }
                                                                            }
                                                                        </div>
                                                                        <div class="col-12 col-md-2 sop-buttons">
                                                                            <div class="dropdown h-100">
                                                                              <button class="btn btn-secondary h-100 w-100" type="button" id="@namenospace" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                <i class="material-icons">menu</i>
                                                                              </button>
                                                                              <div class="dropdown-menu" aria-labelledby="@namenospace">
                                                                                <div class="complete comp-@namenospace">
                                                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#comp-@namenospace">
                                                                                     Complete Task
                                                                                    </button>
                                                                                </div>
                                                                               <div class="recusal rec-@namenospace">
                                                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#rec-@namenospace">
                                                                                     Request recusal
                                                                                    </button>
                                                                                </div>
                                                                              </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal fade" id="comp-@namenospace" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                            <div class="modal-dialog" role="document">
                                                                                <div class="modal-content">
                                                                                  <div class="modal-header">
                                                                                    <h5 class="modal-title">Complete this task</h5>
                                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                      <span aria-hidden="true">&times;</span>
                                                                                    </button>
                                                                                  </div>
                                                                                  <div class="modal-body">
                                                                                    <p>Add signature</p>
                                                                                    <input type="text" name="signature-@namenospace" placeholder="please type your name" class="signature">
                                                                                  </div>
                                                                                  <div class="modal-footer">
                                                                                    <input type="submit" class="btn" value="Complete Task" />
                                                                                  </div>
                                                                                </div>
                                                                              </div>
                                                                        </div>
                                                                        <div class="modal fade" id="rec-@namenospace" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                            <div class="modal-dialog" role="document">
                                                                                <div class="modal-content">
                                                                                  <div class="modal-header">
                                                                                    <h5 class="modal-title">Request Recusal</h5>
                                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                      <span aria-hidden="true">&times;</span>
                                                                                    </button>
                                                                                  </div>
                                                                                  <div class="modal-body">
                                                                                    <p>Add signature</p>
                                                                                    <input type="text" name="recuse-@namenospace" placeholder="please type your name" class="signature">
                                                                                  </div>
                                                                                  <div class="modal-footer">
                                                                                    <input type="submit" class="btn" value="Request Recusal" />
                                                                                  </div>
                                                                                </div>
                                                                              </div>
                                                                        </div>
                                                                        </div>
                                                            </div>
                                                                    }
                                                                 }

                                                        }
                                                    }
                                                
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12">
                                                <div class="row">
                                                    <div class="col-12 raci-info">
                                                        <h4>Informed</h4>
                                                    </div>
                                                    @foreach(var sub in (ViewBag.infi)){
                                                        if(sub.valuematch == item.valuematch){
                                                                <!-- Getting the first and second name from users -->
                                                                foreach(var name in (ViewBag.allusers)){
                                                                    if(sub.UserId == name.ClaimId  && sub.UserId == ViewBag.loggedin){
                                                                        var namenospace = "resp" + name.FirstName + name.SecondName + sub.RACIInfChosenID + item.valuematch;
                                                                        <div class="col-12 col-md-12 no-pad grey-bg">
                                                                            <div class="row">
                                                                                <div class="col-12 col-md-1 sop-number sop-number-@item.valuematch">
                                                                                <h3></h3>
                                                                            </div>
                                                                                <div class="col-12 col-md-3 @sub.Status sop-status">
                                                                                    <input type="hidden" value="@item.valuematch">
                                                                                    <input type="text" class="hidden-value raci-number-@namenospace" value="@sub.Status" name="sop-number-@namenospace">
                                                                                    <h5>@sub.Status</h5>
                                                                                </div>
                                                                                <div class="col-12 col-md-6 sop-person">
                                                                                    <h4>@name.FirstName @name.SecondName</h4>
                                                                                    <!-- Getting the department -->    
                                                                                    @foreach(var dep in (ViewBag.deps)){
                                                                                        if(sub.DepartmentId == dep.DepartmentId){
                                                                                            <p>@dep.DepartmentName</p>
                                                                                        }
                                                                                    }
                                                                                </div>
                                                                                <div class="col-12 col-md-2 sop-buttons">
                                                                                    <div class="dropdown h-100">
                                                                                      <button class="btn btn-secondary h-100 w-100" type="button" id="@namenospace" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                        <i class="material-icons">menu</i>
                                                                                      </button>
                                                                                      <div class="dropdown-menu" aria-labelledby="@namenospace">
                                                                                        <div class="complete comp-@namenospace">
                                                                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#comp-@namenospace">
                                                                                             Complete Task
                                                                                            </button>
                                                                                        </div>
                                                                                       <div class="recusal rec-@namenospace">
                                                                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#rec-@namenospace">
                                                                                             Request recusal
                                                                                            </button>
                                                                                        </div>
                                                                                      </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="modal fade" id="comp-@namenospace" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                                    <div class="modal-dialog" role="document">
                                                                                        <div class="modal-content">
                                                                                          <div class="modal-header">
                                                                                            <h5 class="modal-title">Complete this task</h5>
                                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                              <span aria-hidden="true">&times;</span>
                                                                                            </button>
                                                                                          </div>
                                                                                          <div class="modal-body">
                                                                                            <p>Add signature</p>
                                                                                            <input type="text" name="signature-@namenospace" placeholder="please type your name" class="signature">
                                                                                          </div>
                                                                                          <div class="modal-footer">
                                                                                            <input type="submit" class="btn" value="Complete Task" />
                                                                                          </div>
                                                                                        </div>
                                                                                      </div>
                                                                                </div>
                                                                                <div class="modal fade" id="rec-@namenospace" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                                    <div class="modal-dialog" role="document">
                                                                                        <div class="modal-content">
                                                                                          <div class="modal-header">
                                                                                            <h5 class="modal-title">Request Recusal</h5>
                                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                              <span aria-hidden="true">&times;</span>
                                                                                            </button>
                                                                                          </div>
                                                                                          <div class="modal-body">
                                                                                            <p>Add signature</p>
                                                                                            <input type="text" name="recuse-@namenospace" placeholder="please type your name" class="signature">
                                                                                          </div>
                                                                                          <div class="modal-footer">
                                                                                            <input type="submit" class="btn" value="Request Recusal" />
                                                                                          </div>
                                                                                        </div>
                                                                                      </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    }
                                                                 }
                                                        }
                                                    }
                                                </div>
                                            </div>

                                        
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    
                 </div>
            </div>
        </div>
    </div>
}
</div>
<script>
    $(document).ready(function () {
        var url = '@Url.Action("TheSOP")';
        var form = $('form');
        var recipients = $('#overview');    
        $.get(url, function(response) {
            recipients.append(response);
            form.data('validator', null);
            $.validator.unobtrusive.parse(form);
        });
    });
    $(document).ready(function () {
        var divname = "cols-";
        var count = $(".table .inner-cols").length;
        var content = divname+count;
        $(".inner-cols").addClass(content);
        $(".inner-rows").addClass(content);
    });
    var div = 0;
    /* NOT QUITE AS OLD
    $(document).ready(function () {
        var i = 0;
        $(".section-count").each(function() {
            var j = 1;
            if($(this).hasClass("SubProcess")){
                $(this).find(".number").find("h3").text(i + "." + j);
                j++;
            }
            else {
    i++;
                $(this).find(".number").find("h3").text(i);

            }
        });
    });
    */
    /* OLD
    $(document).ready(function () {
        $(".number").each(function(i) {
            $(this).find("h3").text(++i);
        });
    });
    */

    $(document).ready(function() {
       var $arr = $("a[data-toggle='collapse']");
        $arr.each(function(){
             $(this).click(function(){
                if($(this).hasClass('collapsed')){
                    $(this).html('HIDE DETAIL');
                    $arr.not(this).each(function(){
                        $(this).html('SHOW DETAIL');
                    });
                }
                else{
                    $(this).html('SHOW DETAIL');
                }
            });
        });
    
    });

    
</script>


