@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "My Tasks";
}
<div class="container people-div">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-4">
                    
                </div>
                <div class="col-12">
                    <table id="tasks-table" class="table list-table">
                        <thead>
                            <tr>
                                <th>Instance</th>
                                <th>Project</th>
                                <th>Process Step</th>
                                <th>Due Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody> 
                            @foreach(var item in (@ViewBag.newtemps)){
                                foreach(var sub in (@ViewBag.getexe)){
                                    foreach(var ist in (@ViewBag.getinst)){
                                        if(ist.SOPTemplateID == item.SOPTemplateID){
                                            if(sub.SectionId == ist.InstanceId){
                                                foreach(var proc in (@ViewBag.processtmps)) {
                                                    if(proc.SOPTemplateID == ist.SectionId){
                                                        foreach(var res in (ViewBag.res)){
                                                            if(res.valuematch == proc.valuematch){
                                                                <tr>
                                                                <th><a href="/Manage/SOPs?=@sub.ExecuteSopID">@item.TempName</a></th>
                                                                @foreach(var proj in (ViewBag.theprojects)){
                                                                    if(ist.ProjectId == proj.ProjectId){
                                                                         <th>@proj.ProjectName</th>
                                                                    }
                                                                }
                                                                 <th>@ist.InstanceExpire</th>
                                                            </tr>
                                                            }
                                                        }
                                                    }
                                                }   
                                               }
                                            }
                                        }
                                    }
                               }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#tasks-table').DataTable( {
            "order": [[ 0, "desc" ]],
            "paging": false,
            "info": false,
            "columnDefs": [
                { "orderable": false, "targets": 4 }
            ]
        });
     });
</script>

