@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "My Tasks";
}
<div class="container people-div">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-4">
                    
                </div>
                <div class="col-12">
                    <table id="tasks-table" class="table list-table">
                        <thead>
                            <tr>
                                <th>Instance</th>
                                <th>Project</th>
                                <th>Process Step</th>
                                <th>Due Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody> 
                            @foreach(var res in (ViewBag.racirespro)){
                                if(res.UserId == (ViewBag.getuserid)){
                                    <tr class="res-user">
                                        @foreach(var inst in (ViewBag.getinstances)){
                                            if(inst.InstanceId == res.InstanceId){
                                                foreach(var exe in (ViewBag.exesop)){
                                                    if(exe.SectionId == inst.InstanceId){
                                                        <td><a href="/Manage/SOPs?=@exe.ExecuteSopID">@inst.InstanceRef</a></td>
                                                    }
                                                }
                                            }
                                        }
                                        @foreach(var proj in (ViewBag.getinstances)){
                                            if(proj.InstanceId == res.InstanceId){
                                                foreach(var project in (ViewBag.projects)){
                                                    if(proj.ProjectId == project.ProjectId){
                                                        <td><a href="/Manage/ViewProject?=@proj.ProjectId">@project.Projectname</a></td>
                                                    }
                                                }

                                            }
                                        }
                                        @foreach(var inst in (ViewBag.getinstances)){
                                            if(inst.InstanceId == res.InstanceId){
                                                foreach(var item in (ViewBag.processSteps)){
                                                    if(res.soptoptempid == item.SOPTemplateID){
                                                        foreach(var exe in (ViewBag.exesop)){
                                                            if(exe.SectionId == inst.InstanceId){
                                                                <td><a href="/Manage/SOPs?=@exe.ExecuteSopID">@item.ProcessName</a></td>
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        @foreach(var inst in (ViewBag.getinstances)){
                                            if(inst.InstanceId == res.InstanceId){
                                                <td>@inst.ExpireDate</td>
                                            }
                                        }
                                        <td>@res.Status</td>
                                    </tr>
                                }
                            }
                            @foreach(var res in (ViewBag.raciaccpro)){
                                if(res.UserId == (ViewBag.getuserid)){
                                    <tr class="acc-user">
                                        @foreach(var inst in (ViewBag.getinstances)){
                                            if(inst.InstanceId == res.InstanceId){
                                                foreach(var exe in (ViewBag.exesop)){
                                                    if(exe.SectionId == inst.InstanceId){
                                                        <td><a href="/Manage/SOPs?=@exe.ExecuteSopID">@inst.InstanceRef</a></td>
                                                    }
                                                }
                                            }
                                        }
                                        @foreach(var proj in (ViewBag.getinstances)){
                                            if(proj.InstanceId == res.InstanceId){
                                                foreach(var project in (ViewBag.projects)){
                                                    if(proj.ProjectId == project.ProjectId){
                                                        <td><a href="/Manage/ViewProject?=@proj.ProjectId">@project.Projectname</a></td>
                                                    }
                                                }

                                            }
                                        }
                                        @foreach(var inst in (ViewBag.getinstances)){
                                            if(inst.InstanceId == res.InstanceId){
                                                foreach(var item in (ViewBag.processSteps)){
                                                    if(res.soptoptempid == item.SOPTemplateID){
                                                        foreach(var exe in (ViewBag.exesop)){
                                                            if(exe.SectionId == inst.InstanceId){
                                                                <td><a href="/Manage/SOPs?=@exe.ExecuteSopID">@item.ProcessName</a></td>
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        @foreach(var inst in (ViewBag.getinstances)){
                                            if(inst.InstanceId == res.InstanceId){
                                                <td>@inst.ExpireDate</td>
                                            }
                                        }
                                        <td>@res.Status</td>
                                    </tr>
                                }
                            } 
                            @foreach(var res in (ViewBag.raciconpro)){
                                if(res.UserId == (ViewBag.getuserid)){
                                    <tr class="con-user">
                                        @foreach(var inst in (ViewBag.getinstances)){
                                            if(inst.InstanceId == res.InstanceId){
                                                foreach(var exe in (ViewBag.exesop)){
                                                    if(exe.SectionId == inst.InstanceId){
                                                        <td><a href="/Manage/SOPs?=@exe.ExecuteSopID">@inst.InstanceRef</a></td>
                                                    }
                                                }
                                            }
                                        }
                                        @foreach(var proj in (ViewBag.getinstances)){
                                            if(proj.InstanceId == res.InstanceId){
                                                foreach(var project in (ViewBag.projects)){
                                                    if(proj.ProjectId == project.ProjectId){
                                                        <td><a href="/Manage/ViewProject?=@proj.ProjectId">@project.Projectname</a></td>
                                                    }
                                                }

                                            }
                                        }
                                        @foreach(var inst in (ViewBag.getinstances)){
                                            if(inst.InstanceId == res.InstanceId){
                                                foreach(var item in (ViewBag.processSteps)){
                                                    if(res.soptoptempid == item.SOPTemplateID){
                                                        foreach(var exe in (ViewBag.exesop)){
                                                            if(exe.SectionId == inst.InstanceId){
                                                                <td><a href="/Manage/SOPs?=@exe.ExecuteSopID">@item.ProcessName</a></td>
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        @foreach(var inst in (ViewBag.getinstances)){
                                            if(inst.InstanceId == res.InstanceId){
                                                <td>@inst.ExpireDate</td>
                                            }
                                        }
                                        <td>@res.Status</td>
                                    </tr>
                                }
                            } 
                             @foreach(var res in (ViewBag.raciinfpro)){
                                if(res.UserId == (ViewBag.getuserid)){
                                    <tr class="inf-user">
                                        @foreach(var inst in (ViewBag.getinstances)){
                                            if(inst.InstanceId == res.InstanceId){
                                                foreach(var exe in (ViewBag.exesop)){
                                                    if(exe.SectionId == inst.InstanceId){
                                                        <td><a href="/Manage/SOPs?=@exe.ExecuteSopID">@inst.InstanceRef</a></td>
                                                    }
                                                }
                                            }
                                        }
                                        @foreach(var proj in (ViewBag.getinstances)){
                                            if(proj.InstanceId == res.InstanceId){
                                                foreach(var project in (ViewBag.projects)){
                                                    if(proj.ProjectId == project.ProjectId){
                                                        <td><a href="/Manage/ViewProject?=@proj.ProjectId">@project.Projectname</a></td>
                                                    }
                                                }

                                            }
                                        }
                                        @foreach(var inst in (ViewBag.getinstances)){
                                            if(inst.InstanceId == res.InstanceId){
                                                foreach(var item in (ViewBag.processSteps)){
                                                    if(res.soptoptempid == item.SOPTemplateID){
                                                        foreach(var exe in (ViewBag.exesop)){
                                                            if(exe.SectionId == inst.InstanceId){
                                                                <td><a href="/Manage/SOPs?=@exe.ExecuteSopID">@item.ProcessName</a></td>
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        @foreach(var inst in (ViewBag.getinstances)){
                                            if(inst.InstanceId == res.InstanceId){
                                                <td>@inst.ExpireDate</td>
                                            }
                                        }
                                        <td>@res.Status</td>
                                    </tr>
                                }
                            } 
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#tasks-table').DataTable( {
            "order": [[ 0, "desc" ]],
            "paging": false,
            "info": false,
            "columnDefs": [
                { "orderable": false, "targets": 4 }
            ]
        });
     });
</script>

