@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "My Tasks";
}
<div class="container people-div">
    <div class="row">
        <div class="col-12">
            <h2>@ViewData["Title"]</h2>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-4">
                    
                </div>
                <div class="col-12">
                    <table id="tasks-table" class="table list-table">
                        <thead>
                            <tr>
                                <th>Instance</th>
                                <th>Project</th>
                                <th>Process Step</th>
                                <th>Due Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody> 
                            @foreach(var item in (@ViewBag.newtemps)){
                                foreach(var sub in (@ViewBag.getexe)){
                                    foreach(var ist in (@ViewBag.getinst)){
                                        if(ist.SOPTemplateID == item.SOPTemplateID){
                                            if(sub.SectionId == ist.InstanceId){   
                                                foreach(var res in (ViewBag.resiuser)){
                                                    if(res.UserId == ViewBag.claimid){
                                                        <tr>
                                                            <th>@ist.InstanceRef - @item.SOPCode</th>
                                                            @foreach(var proj in (ViewBag.theprojects)){
                                                               if(ist.ProjectId == proj.ProjectId){
                                                                 <th>@proj.ProjectName</th>
                                                                }
                                                            }
                                                            @foreach(var step in (ViewBag.procdate)){
                                                                foreach(var pro in (ViewBag.process)){
                                                                    if((step.SOPTemplateID == res.soptoptempid) && (res.RACIResID == step.valuematch) && (pro.valuematch == step.valuematch)){
                                                                    <th><a href="/Manage/SOPs?=@sub.ExecuteSopID">@pro.ProcessName</a></th>
                                                                    }
                                                                }
                                                            } 
                                                            @foreach(var step in (ViewBag.procdate)){
                                                                if((step.SOPTemplateID == res.soptoptempid) && (res.RACIResID == step.valuematch)){
                                                                    <th>@step.DueDate</th>
                                                                }
                                                            }
                                                            <th class="td-res-@ist.InstanceId-@res.RACIResChosenID">
                                                        @foreach(var comp in (ViewBag.rescomp)){
                                                            if(comp.RACIResChosenID == res.RACIResChosenID){
                                                                <p class="complete">Complete</p>
                                                            }
                                                        }
                                                        @foreach(var comp in (ViewBag.resres)){
                                                            if(comp.RACIResChosenID == res.RACIResChosenID){
                                                                <p class="recusal">Recusal</p>
                                                            }
                                                        }
                                                        <p class="pending">Pending</p>
                                                    </th>
                                                </tr>
                                                <script>
                                                    $(document).ready(function () {
                                                        if($(".td-res-@ist.InstanceId-@res.RACIResChosenID p").hasClass('complete')){
                                                            $(".td-res-@ist.InstanceId-@res.RACIResChosenID p.pending").remove();
                                                        };
                                                        if($(".td-res-@ist.InstanceId-@res.RACIResChosenID p").hasClass('recusal')){
                                                            $(".td-res-@ist.InstanceId-@res.RACIResChosenID p.pending").remove();
                                                        };
                                                    });
                                                </script>
                                                    }
                                                 }
                                            }
                                        }
                                    }
                                }
                            }
                            @foreach(var item in (@ViewBag.newtemps)){
                                foreach(var sub in (@ViewBag.getexe)){
                                    foreach(var ist in (@ViewBag.getinst)){
                                        if(ist.SOPTemplateID == item.SOPTemplateID){
                                            if(sub.SectionId == ist.InstanceId){   
                                                foreach(var res in (ViewBag.resiaccuser)){
                                                    if(res.UserId == ViewBag.claimid){
                                                        <tr>
                                                            <th>@ist.InstanceRef - @item.SOPCode</th>
                                                            @foreach(var proj in (ViewBag.theprojects)){
                                                               if(ist.ProjectId == proj.ProjectId){
                                                                 <th>@proj.ProjectName</th>
                                                                }
                                                            }
                                                            @foreach(var step in (ViewBag.procdate)){
                                                                foreach(var pro in (ViewBag.process)){
                                                                    if((step.SOPTemplateID == res.soptoptempid) && (res.RACIAccID == step.valuematch) && (pro.valuematch == step.valuematch)){
                                                                    <th><a href="/Manage/SOPs?=@sub.ExecuteSopID">@pro.ProcessName</a></th>
                                                                    }
                                                                }
                                                            } 
                                                            @foreach(var step in (ViewBag.procdate)){
                                                                if((step.SOPTemplateID == res.soptoptempid) && (res.RACIAccID == step.valuematch)){
                                                                    <th>@step.DueDate</th>
                                                                }
                                                            }
                                                            <th class="td-acc-@ist.InstanceId-@res.RACIAccChosenID">
                                                        @foreach(var comp in (ViewBag.acccomp)){
                                                            if(comp.RACIAccChosenID == res.RACIAccChosenID){
                                                                <p class="complete">Complete</p>
                                                            }
                                                        }
                                                        @foreach(var comp in (ViewBag.accres)){
                                                            if(comp.RACIAccChosenID == res.RACIAccChosenID){
                                                                <p class="recusal">Recusal</p>
                                                            }
                                                        }
                                                        <p class="pending">Pending</p>
                                                    </th>
                                                </tr>
                                                <script>
                                                    $(document).ready(function () {
                                                        if($(".td-acc-@ist.InstanceId-@res.RACIAccChosenID p").hasClass('complete')){
                                                            $(".td-acc-@ist.InstanceId-@res.RACIAccChosenID p.pending").remove();
                                                        };
                                                        if($(".td-acc-@ist.InstanceId-@res.RACIAccChosenID p").hasClass('recusal')){
                                                            $(".td-acc-@ist.InstanceId-@res.RACIAccChosenID p.pending").remove();
                                                        };
                                                    });
                                                </script>
                                                    }
                                                 }
                                            }
                                        }
                                    }
                                }
                            }
                            @foreach(var item in (@ViewBag.newtemps)){
                                foreach(var sub in (@ViewBag.getexe)){
                                    foreach(var ist in (@ViewBag.getinst)){
                                        if(ist.SOPTemplateID == item.SOPTemplateID){
                                            if(sub.SectionId == ist.InstanceId){   
                                                foreach(var res in (ViewBag.resiconuser)){
                                                    if(res.UserId == ViewBag.claimid){
                                                        <tr>
                                                            <th>@ist.InstanceRef - @item.SOPCode</th>
                                                            @foreach(var proj in (ViewBag.theprojects)){
                                                               if(ist.ProjectId == proj.ProjectId){
                                                                 <th>@proj.ProjectName</th>
                                                                }
                                                            }
                                                            @foreach(var step in (ViewBag.procdate)){
                                                                foreach(var pro in (ViewBag.process)){
                                                                    if((step.SOPTemplateID == res.soptoptempid) && (res.RACIConID == step.valuematch) && (pro.valuematch == step.valuematch)){
                                                                    <th><a href="/Manage/SOPs?=@sub.ExecuteSopID">@pro.ProcessName</a></th>
                                                                    }
                                                                }
                                                            } 
                                                            @foreach(var step in (ViewBag.procdate)){
                                                                if((step.SOPTemplateID == res.soptoptempid) && (res.RACIConID == step.valuematch)){
                                                                    <th>@step.DueDate</th>
                                                                }
                                                            } 
                                                             <th class="td-con-@ist.InstanceId-@res.RACIConChosenID">
                                                        @foreach(var comp in (ViewBag.concomp)){
                                                            if(comp.RACIConChosenID == res.RACIConChosenID){
                                                                <p class="complete">Complete</p>
                                                            }
                                                        }
                                                        @foreach(var comp in (ViewBag.conres)){
                                                            if(comp.RACIConChosenID == res.RACIConChosenID){
                                                                <p class="recusal">Recusal</p>
                                                            }
                                                        }
                                                        <p class="pending">Pending</p>
                                                    </th>
                                                    </tr>
                                                    <script>
                                                        $(document).ready(function () {
                                                            if($(".td-con-@ist.InstanceId-@res.RACIConChosenID p").hasClass('complete')){
                                                                $(".td-con-@ist.InstanceId-@res.RACIConChosenID p.pending").remove();
                                                            };
                                                            if($(".td-con-@ist.InstanceId-@res.RACIConChosenID p").hasClass('recusal')){
                                                                $(".td-con-@ist.InstanceId-@res.RACIConChosenID p.pending").remove();
                                                            };
                                                        });
                                                    </script>
                                                    }
                                                 }
                                            }
                                        }
                                    }
                                }
                            }@foreach(var item in (@ViewBag.newtemps)){
                                foreach(var sub in (@ViewBag.getexe)){
                                    foreach(var ist in (@ViewBag.getinst)){
                                        if(ist.SOPTemplateID == item.SOPTemplateID){
                                            if(sub.SectionId == ist.InstanceId){   
                                                foreach(var res in (ViewBag.resiinfuser)){
                                                    if(res.UserId == ViewBag.claimid){
                                                        <tr>
                                                            <th>@ist.InstanceRef - @item.SOPCode</th>
                                                            @foreach(var proj in (ViewBag.theprojects)){
                                                               if(ist.ProjectId == proj.ProjectId){
                                                                 <th>@proj.ProjectName</th>
                                                                }
                                                            }
                                                            @foreach(var step in (ViewBag.procdate)){
                                                                foreach(var pro in (ViewBag.process)){
                                                                    if((step.SOPTemplateID == res.soptoptempid) && (res.RACIInfID == step.valuematch) && (pro.valuematch == step.valuematch)){
                                                                    <th><a href="/Manage/SOPs?=@sub.ExecuteSopID">@pro.ProcessName</a></th>
                                                                    }
                                                                }
                                                            } 
                                                            @foreach(var step in (ViewBag.procdate)){
                                                                if((step.SOPTemplateID == res.soptoptempid) && (res.RACIInfID == step.valuematch)){
                                                                    <th>@step.DueDate</th>
                                                                }
                                                            }
                                                            <th class="td-inf-@ist.InstanceId-@res.RACIInfChosenID">
                                                                @foreach(var comp in (ViewBag.infcomp)){
                                                                    if(comp.RACIInfChosenID == res.RACIInfChosenID){
                                                                        <p>@comp.RACIInfChosenID - @res.RACIInfChosenID</p>
                                                                        <p class="complete">Complete</p>
                                                                    }
                                                                }
                                                                @foreach(var subietem in (ViewBag.infirec)){
                                                                    if(subietem.RACIInfChosenID == res.RACIInfChosenID){
                                                                        <p>@subietem.RACIInfChosenID - @res.RACIInfChosenID</p>
                                                                         <p class="recusal">Recusal</p>   
                                                                    }
                                                                }
                                    
                                                                <p class="pending">Pending</p>
                                                        </th>
                                                    </tr>
                                                <script>
                                                    $(document).ready(function () {
                                                        if($(".td-inf-@ist.InstanceId-@res.RACIInfChosenID p").hasClass('complete')){
                                                            $(".td-inf-@ist.InstanceId-@res.RACIInfChosenID p.pending").remove();
                                                        };
                                                        if($(".td-inf-@ist.InstanceId-@res.RACIInfChosenID p").hasClass('recusal')){
                                                            $(".td-inf-@ist.InstanceId-@res.RACIInfChosenID p.pending").remove();
                                                        };
                                                    });
                                                </script>
                                                    }
                                                 }
                                            }
                                        }
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#tasks-table').DataTable( {
            "order": [[ 0, "desc" ]],
            "paging": false,
            "info": false,
            "columnDefs": [
                { "orderable": false, "targets": 4 }
            ]
        });
     });
</script>

