@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "My Tasks";
}
<div class="container people-div">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-4">
                    
                </div>
                <div class="col-12">
                    <table id="tasks-table" class="table list-table">
                        <thead>
                            <tr>
                                <th>Instance</th>
                                <th>Project</th>
                                <th>Process Step</th>
                                <th>Due Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody> 
                            @foreach(var item in (@ViewBag.newtemps)){
                                foreach(var sub in (@ViewBag.getexe)){
                                    foreach(var ist in (@ViewBag.getinst)){
                                        if(ist.SOPTemplateID == item.SOPTemplateID){
                                            if(sub.SectionId == ist.InstanceId){
                                                foreach(var res in (ViewBag.res)){
                                                    if(res.UserId == ViewBag.userselid){
                                                        @ViewBag.userselid
                                                        <p>@res.UserId @ist.SOPTemplateID</p>
                                                        }
                                                    }
                                                }
                                            }
                                     }
                                }
                            }
                                @foreach(var res in (ViewBag.res)){
                                        if(res.UserId == @ViewBag.userselid){
                                            foreach(var inst in (ViewBag.getinst)){
                                                if(res.InstanceId == inst.InstanceId){
                                                     <tr>
                                                        <td>@inst.InstanceRef</td>
                                                        <td>
                                                            @foreach(var poj in (ViewBag.theprojects)){
                                                                if(inst.ProjectId == poj.ProjectId){
                                                                    <a href="/Manage/ViewProject?=@poj.ProjectId">@poj.ProjectName</a>
                                                                }
                                                            }
                                                         </td>
                                                        <td>
                                                           
                                                        
                                                        </td>
                                                        <td>
                                                        </td>
                                                        <td>@res.Status</td>
                                                    </tr>
                                                }
                                            }
                                        
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#tasks-table').DataTable( {
            "order": [[ 0, "desc" ]],
            "paging": false,
            "info": false,
            "columnDefs": [
                { "orderable": false, "targets": 4 }
            ]
        });
     });
</script>

