@model IEnumerable<sopman.Models.ManageViewModels.SOPOverView> 
@using HtmlHelpers.BeginCollectionItemCore
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "The SOP";
    var sectioncount = 0;
    int subsectioncount = 1;
    int documentsProcesses = 1;
}
<div class="container body-content">
    <div class="container sop-builder">
        <div class="row header-black">
            <div class="col-12 col-md-10">
                <h1>@ViewBag.code</h1>
            </div>
            <div class="col-12 col-md-2 text-right">
                @using (Html.BeginForm()) {
                    <input type="submit" class="btn" value="EXECUTE" />
                }
            </div>
            <div class="col-12">
                <h2>@ViewBag.temp</h2>
            </div>
            <div class="col-12">
                <ul class="nav nav-temp nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#overview" role="tab">SOP Overview</a>
                    </li>
                    <li class="nav-item ml-2">
                        <a class="nav-link" data-toggle="tab" href="#process" role="tab">Process Steps</a>
                    </li>
                    <li class="nav-item ml-2">
                        <a class="nav-link" data-toggle="tab" href="#docs" role="tab">Documents</a>
                    </li>
                    <li class="nav-item ml-2">
                        <a class="nav-link" data-toggle="tab" href="#history" role="tab">Version History</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row white-row pt-3">
            <div class="col-12">
                <div class="tab-content">
                    <div class="tab-pane active" id="overview" role="tabpanel">
                        @foreach(var subitem in (ViewBag.thesecs)){

                            sectioncount++;
                        
                            <div class="row">
                                <div class="col-12 col-md-1 header-left">
                                    <div class="number"><h3>@sectioncount</h3></div>
                                </div>
                                <div class="col-12 col-md-11 header-right">
                                    <h2>@subitem.SectionText</h2>
                                </div>
                                <div class="col-12 the-secs">
                                    @foreach(var item in (ViewBag.thesin)){
                                        if(item.valuematch == subitem.valuematch){
                                            if(item.NewTempId == @ViewBag.instId){
                                                <h3>@item.SingleLinkTextBlock</h3>
                                            }
                                        }
                                    }
                                    @foreach(var item in (ViewBag.gettabs)){
                                        if(item.valuematch == subitem.valuematch){
                                            if(item.NewTempId == @ViewBag.instId){
                                                <h3>@item.TableHTML</h3>
                                                <div class="col-12">
                                                    <div class="table sop-table">
                                                        <div class="col-count">
                                                        @foreach(var col in (ViewBag.gettabscols)){
                                                            if((col.tableval == subitem.valuematch) && (col.NewTempId == ViewBag.gettopid)){
                                                                <div class="inner-cols">
                                                                    <h3>@col.ColText</h3>
                                                                </div>
                                                            }
                                                        }
                                                        </div>
                                                        <div class="row-count">
                                                        @foreach(var col in (ViewBag.gettabsrows)){
                                                            if((col.tableval == subitem.valuematch) && (col.NewTempId == ViewBag.gettopid)){
                                                                <div class="inner-rows">
                                                                    <h3>@col.RowText</h3>
                                                                </div>
                                                            }
                                                        }
                                                        </div>
                                                    </div>
                                                </div>
                                                }
                                           }
                                    }

                                    @foreach(var item in (ViewBag.getmul)){
                                        if(item.valuematch == subitem.valuematch){
                                            if(item.NewTempId == @ViewBag.instId){
                                                <p>@item.MultilineTextBlock</p>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        }
                    </div>
                    <div class="tab-pane" id="process" role="tabpanel">
                        <div id="accordion" role="tablist">
                            @foreach(var item in (ViewBag.processtmps)){
                                var nameshort = item.ProcessName.Replace(" ", "");
                                var protype = item.ProcessType;
                                var value = item.valuematch;

                                string number;
                                if(protype == "SubProcess")
                                {
                                    number = sectioncount.ToString() + "." + subsectioncount.ToString();
                                    subsectioncount++;
                                    
                                }
                                else
                                {
                                    sectioncount++;
                                    number = sectioncount.ToString();
                                    subsectioncount = 1;
                                }

                                int resCount = 1;
                                int accCount = 1;
                                int conCount = 1;
                                int infCount = 1;
                            
                                <div class="card container @protype process-@value">
                                    <div class="card-header row" role="tab" id="headingOne">
                                            <div class="col-12 col-md-1 count-col">
                                               <div class="number"><h3>@number</h3></div>
                                            </div>
                                            <div class="col-12 col-md-11 padding-left-zero">
                                                <div class="row header-row">
                                                    <div class="col-12 col-md-10">
                                                         <h3>@item.ProcessName</h3>
                                                    </div>
                                                    <div class="col-12 col-md-2 text-right">
                                                        <a data-toggle="collapse" class="collapsed font-14" href="#collapse-@nameshort" role="button" aria-expanded="false" aria-controls="collapseOne">
                                                            SHOW DETAIL
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="collapse-@nameshort" class="container collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="card-body row">
                                            <div class="col-12 col-md-12">
                                                <p>@item.ProcessDesc</p>
                                            </div>
                                            <div class="col-12 col-md-12">
                                                <div class="row">
                                                    <div class="col-12 raci-info">
                                                        <h4>Responsible</h4>
                                                    </div>
                                                    @foreach(var sub in (ViewBag.res)){
                                                        if(sub.valuematch == item.valuematch){
                                                            <!-- Getting the first and second name from users -->
                                                            foreach(var name in (ViewBag.allusers)){
                                                                if(sub.UserId == name.ClaimId){
                                                                    <div class="col-12 col-md-12 no-pad grey-bg">
                                                                        <div class="row">
                                                                            <div class="col-12 col-md-1 sop-number">
                                                                                <h3>@resCount</h3>
                                                                            </div>
                                                                            <div class="col-12 col-md-3 sop-status d-flex align-items-center">
                                                                                <h5>@sub.Status</h5>
                                                                            </div>
                                                                            <div class="col-12 col-md-6 sop-person d-flex flex-column justify-content-center">
                                                                                <h4>@name.FirstName @name.SecondName</h4>
                                                                                <!-- Getting the department -->    
                                                                                @foreach(var dep in (ViewBag.deps)){
                                                                                    if(sub.DepartmentId == dep.DepartmentId){
                                                                                        <p class="m-0">@dep.DepartmentName</p>
                                                                                    }
                                                                                }
                                                                            </div>
                                                                            <div class="col-12 col-md-2 sop-buttons">
                                                                                    <div class="dropdown h-100">
                                                                                      <button class="btn btn-secondary h-100 w-100" type="button" id="resbtn-@resCount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                        <i class="material-icons">menu</i>
                                                                                      </button>
                                                                                      <div class="dropdown-menu" aria-labelledby="resbtn-@resCount">
                                                                                        <div class="complete"><p>Complete Task</p></div>
                                                                                        <div class="recusal"><p>Request recusal</p></div>
                                                                                      </div>
                                                                                    </div>
                                                                                </div>
                                                                        </div>
                                                                    </div>
                                                                }
                                                             }
                                                            resCount++;
                                                        }

                                                    }
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12">
                                                <div class="row">
                                                    <div class="col-12 raci-info">
                                                        <h4>Accountable</h4>
                                                    </div>
                                                    @foreach(var sub in (ViewBag.acc)){
                                                        if(sub.valuematch == item.valuematch){
                                                            <!-- Getting the first and second name from users -->
                                                            foreach(var name in (ViewBag.allusers)){
                                                                if(sub.UserId == name.ClaimId){
                                                                <div class="col-12 col-md-12 no-pad grey-bg">
                                                                        <div class="row">
                                                                            <div class="col-12 col-md-1 sop-number">
                                                                                <h3>@accCount</h3>
                                                                            </div>
                                                                            <div class="col-12 col-md-3 sop-status d-flex align-items-center">
                                                                                <h5>@sub.Status</h5>
                                                                            </div>
                                                                            <div class="col-12 col-md-6 sop-person d-flex flex-column justify-content-center">
                                                                                <h4>@name.FirstName @name.SecondName</h4>
                                                                                <!-- Getting the department -->    
                                                                                @foreach(var dep in (ViewBag.deps)){
                                                                                    if(sub.DepartmentId == dep.DepartmentId){
                                                                                        <p class="m-0">@dep.DepartmentName</p>
                                                                                    }
                                                                                }
                                                                            </div>
                                                                            <div class="col-12 col-md-2 sop-buttons">
                                                                                    <div class="dropdown h-100">
                                                                                      <button class="btn btn-secondary h-100 w-100" type="button" id="resbtn-@accCount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                        <i class="material-icons">menu</i>
                                                                                      </button>
                                                                                      <div class="dropdown-menu" aria-labelledby="resbtn-@accCount">
                                                                                        <div class="complete"><p>Complete Task</p></div>
                                                                                        <div class="recusal"><p>Request recusal</p></div>
                                                                                      </div>
                                                                                    </div>
                                                                                </div>
                                                                        </div>
                                                                    </div>
                                                                }
                                                             }
                                                            
                                                            accCount++;
                                                        }
                                                    }
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12">
                                                <div class="row">
                                                    <div class="col-12 raci-info">
                                                        <h4>Consulted</h4>
                                                    </div>
                                                    @foreach(var sub in (ViewBag.cons)){
                                                        if(sub.valuematch == item.valuematch){
                                                             <!-- Getting the first and second name from users -->
                                                            foreach(var name in (ViewBag.allusers)){
                                                                if(sub.UserId == name.ClaimId){
                                                            <div class="col-12 col-md-12 no-pad grey-bg">
                                                                        <div class="row">
                                                                            <div class="col-12 col-md-1 sop-number">
                                                                                <h3>@conCount</h3>
                                                                            </div>
                                                                            <div class="col-12 col-md-3 sop-status d-flex align-items-center">
                                                                                <h5>@sub.Status</h5>
                                                                            </div>
                                                                            <div class="col-12 col-md-6 sop-person d-flex flex-column justify-content-center">
                                                                                <h4>@name.FirstName @name.SecondName</h4>
                                                                                <!-- Getting the department -->    
                                                                                @foreach(var dep in (ViewBag.deps)){
                                                                                    if(sub.DepartmentId == dep.DepartmentId){
                                                                                        <p class="m-0">@dep.DepartmentName</p>
                                                                                    }
                                                                                }
                                                                            </div>
                                                                            <div class="col-12 col-md-2 sop-buttons">
                                                                                    <div class="dropdown h-100">
                                                                                      <button class="btn btn-secondary h-100 w-100" type="button" id="resbtn-@conCount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                        <i class="material-icons">menu</i>
                                                                                      </button>
                                                                                      <div class="dropdown-menu" aria-labelledby="resbtn-@conCount">
                                                                                        <div class="complete"><p>Complete Task</p></div>
                                                                                        <div class="recusal"><p>Request recusal</p></div>
                                                                                      </div>
                                                                                    </div>
                                                                                </div>
                                                                        </div>
                                                                    </div>
                                                            
                                                        }
                                                }conCount++;
                                                    }
                                                }
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12">
                                                <div class="row">
                                                    <div class="col-12 raci-info">
                                                        <h4>Informed</h4>
                                                    </div>
                                                    @foreach(var sub in (ViewBag.infi)){
                                                        if(sub.valuematch == item.valuematch){
                                                            <!-- Getting the first and second name from users -->
                                                            foreach(var name in (ViewBag.allusers)){
                                                                if(sub.UserId == name.ClaimId){
                                                            <div class="col-12 col-md-12 no-pad grey-bg">
                                                                        <div class="row">
                                                                            <div class="col-12 col-md-1 sop-number">
                                                                                <h3>@infCount</h3>
                                                                            </div>
                                                                            <div class="col-12 col-md-3 sop-status d-flex align-items-center">
                                                                                <h5>@sub.Status</h5>
                                                                            </div>
                                                                            <div class="col-12 col-md-6 sop-person d-flex flex-column justify-content-center">
                                                                                <h4>@name.FirstName @name.SecondName</h4>
                                                                                <!-- Getting the department -->    
                                                                                @foreach(var dep in (ViewBag.deps)){
                                                                                    if(sub.DepartmentId == dep.DepartmentId){
                                                                                        <p class="m-0">@dep.DepartmentName</p>
                                                                                    }
                                                                                }
                                                                            </div>
                                                                            <div class="col-12 col-md-2 sop-buttons">
                                                                                    <div class="dropdown h-100">
                                                                                      <button class="btn btn-secondary h-100 w-100" type="button" id="resbtn-@infCount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                        <i class="material-icons">menu</i>
                                                                                      </button>
                                                                                      <div class="dropdown-menu" aria-labelledby="resbtn-@infCount">
                                                                                        <div class="complete"><p>Complete Task</p></div>
                                                                                        <div class="recusal"><p>Request recusal</p></div>
                                                                                      </div>
                                                                                    </div>
                                                                                </div>
                                                                        </div>
                                                                    </div>
                                                }
                                                }
                                                            infCount++;
                                                        }
                                                    }
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                
                                            </div>
                                          </div>
                                    </div>
                               </div>
                            }
                        </div>
                    </div>
                    <div class="tab-pane" id="docs" role="tabpanel">
                            
                                @foreach(var item in (ViewBag.files)){
                                    int docCount = 1;


                                    <div class="row">
                                        <div class="col-12 col-md-1 header-left">
                                            <div class="number">
                                                <h3>@documentsProcesses</h3>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-11 header-right">
                                            <h2>@item.ProcessName</h2>
                                        </div>
                                        <div class="col-12">
                                            <div class="row">
                                        
                                            @foreach(var img in item.ProcessFiles){

                                                <div class="col-6 col-sm-3 col-md-2 mt-3">
                                                    <a href="@img" download="@item.ProcessName-@docCount">
                                                        <img src="~/images/docIcon.png"/>
                                                    </a>
                                                </div>

                                                docCount++;
                                            }


                                            </div>
                                        </div>
                                    </div>
                                    documentsProcesses++;
                                }
                            
                    </div>
                    <div class="tab-pane" id="history" role="tabpanel">
                        <h3>There is currently no version history</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var url = '@Url.Action("TheSOP")';
        var form = $('form');
        var recipients = $('#overview');    
        $.get(url, function(response) {
            recipients.append(response);
            form.data('validator', null);
            $.validator.unobtrusive.parse(form);
        });
    });
    $(document).ready(function () {
        var divname = "cols-";
        var count = $(".table .inner-cols").length;
        console.log(divname); 
        console.log(count);
        var content = divname+count;
        console.log(content);
        $(".inner-cols").addClass(content);
        $(".inner-rows").addClass(content);
    });
    var div = 0;
    /* NOT QUITE AS OLD
    $(document).ready(function () {
        var i = 0;
        $(".section-count").each(function() {
            var j = 1;
            if($(this).hasClass("SubProcess")){
                $(this).find(".number").find("h3").text(i + "." + j);
                j++;
            }
            else {
    i++;
                $(this).find(".number").find("h3").text(i);

            }
        });
    });
    */
    /* OLD
    $(document).ready(function () {
        $(".number").each(function(i) {
            $(this).find("h3").text(++i);
        });
    });
    */


$(document).ready(function() {
       var $arr = $("a[data-toggle='collapse']");
        $arr.each(function(){
             $(this).click(function(){
                if($(this).hasClass('collapsed')){
                    $(this).html('HIDE DETAIL');
                    $arr.not(this).each(function(){
                        $(this).html('SHOW DETAIL');
                    });
                }
                else{
                    $(this).html('SHOW DETAIL');
                }
            });
        });
    
    });


</script>


